@model IEnumerable<Car_To_Go.Models.CarViewModel>
@{ ViewData["Title"] = "Index"; }

<div class="h2 pt-3 text-center font-weight-bold">Our showroom, meet the prestigious cars!</div>
<hr />

@foreach (var item in Model)
{
   
       <div class="card-deck">

           <div class="card">
               <h3>@Html.DisplayFor(ModelItem => item.Brandname)</h3>
               <h5>@Html.DisplayFor(ModelItem => item.Modelname)</h5>
               <p>@Html.DisplayFor(ModelItem => item.Enginepower)PK</p>
               <p>@Html.DisplayFor(ModelItem => item.Acceleration)seconds to 0-100km/h)</p>
               <p>@Html.DisplayFor(ModelItem => item.Cargospace)Liters Cargospace</p>
               <p>@Html.DisplayFor(ModelItem => item.Seat)</p>

           </div>
       </div>
                       
}
